<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{myTitle}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content id="mainic" scroll-x="true" scroll-y="true">
    <app-presentationtable [table]="table" [selcol]="selcol" [selid]="selid" writable="true"></app-presentationtable>
    <br>
    <br>
    <br>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="actionbutton" (click)="goToInsertPage(table, selcol, selid)">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

