.centerflex
{
    justify-content: center;
    display: flex; 
    align-items: center;
    height: 100%;
    width: 100%;
}

.bigspinner {
    transform: scale(3);
    color:#e2007a;
}

.txtcenter
{
    text-align: center;
}

.txtunderline
{
    text-decoration: underline;
}

.actionbutton
{
    --background:#009CDB;
}

.otherbutton
{
    --background: white;
    --border-color: #e2007a;
    --color: #e2007a;
}

.whitebackg
{
  --background: white;
  --color: #009CDB;
  --font-weight: bold;
}

.greybackg
{
  --background: grey;
  --color: white;
  --font-weight: bold;
}

.txtwhite
{
  --color: white;
  color:white;
}

.bld
{
  --font-weight: bold;
  font-weight: bold;
}

.txtgrey
{
  --color: grey;
}

.txtpink
{
  color: #e2007a;
  --color: #e2007a;
}

.logoheader
{
    width: 33%;
    height: 33%;
    margin-left: 33%;
    margin-right: 33%;
}

.petitmargecadre
{
    margin: 5%;
}

.txtunderline
{
    text-decoration: underline;
}

.item-input.sc-ion-label-md-h, .item-input .sc-ion-label-md-h
{
  flex: auto;
  width: auto;
}

.backgcolored
{
  background-color: #595858;
}

ion-checkbox
{
  --border-radius: 25px;
}
