.greybackg
{
    --background: #595858 !important;
    --color: white;
    justify-content: center;
}

.logoheader
{
    width: 33%;
    height: 33%;
    margin-left: 33%;
    margin-right: 33%;
}

.txtcenter
{
    text-align: center;
}

.backgrey
{
    background-color: #595858 !important;
    color: white;
}

.petitmargecadre
{
    margin: 5%;
}

ion-list-header
{
    padding: 0;
}

.smallfont
{
  font-size: small;
}

