<ion-header class="greybackg">
  <ion-toolbar class="greybackg">
    <br>
    <ion-img class="logoheader greybackg" src="assets/img/LOGO_PRATIC_BOUTIC.png" alt=""></ion-img>
    <br>
    <ion-title class="greybackg txtcenter txtunderline">RENVOI DU MOT DE PASSE</ion-title>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content class="greybackg">
    @if (!loaded)
    {
        <div class="centerflex">
            <ion-spinner name="crescent"></ion-spinner>
        </div>
    }
    @else {
        <form [formGroup]="passwordFormGroup" (ngSubmit)="onSubmit()" novalidate>
            <ion-item lines="full">
                <ion-label position="floating">Courriel</ion-label>
                <ion-input id="email" formControlName="email" type="email" [required]></ion-input>
            </ion-item>
            @if (isSubmitted && errorControl.email.errors?.required)
            {
                <span class="error ion-padding">
                  Votre courriel est requis
                </span>
            }
        </form>
    }
  <br>
  <br>
  <br>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="actionbutton" id="validid" (click)="onSubmit()">
      <ion-icon name="send-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button class="otherbutton" id="cancelid" (click)="cancel()">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

