.centerflex
{
    justify-content: center;
    display: flex; 
    align-items: center;
    height: 100%;
    width: 100%;
}

ion-spinner {
    transform: scale(3);
}


.txtcenter
{
    text-align: center;
}

.txtunderline
{
    text-decoration: underline;
}

.actionbutton
{
    --background:#009CDB;
}

.otherbutton
{
    --background: white;
    --border-color: #e2007a;
    --color: #e2007a;
}

.greybackg
{
    --background: #595858;
    --color: white;
}

.attention
{
    background-color: red;
    color: white;
    line-height: 300%;
    text-align: center;
}

.logoheader
{
    width: 33%;
    height: 33%;
    margin-left: 33%;
    margin-right: 33%;
}
