<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="categorie">
            <ion-icon name="list-outline"></ion-icon>
            <ion-label>Catégories</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="article">
            <ion-icon name="pricetags-outline"></ion-icon>
            <ion-label>Articles</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="groupeopt">
            <ion-icon name="grid-outline"></ion-icon>
            <ion-label>Options</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
