<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="displaytable/categorie/none/0">
            <ion-icon name="list-outline"></ion-icon>
            <ion-label>Catégories</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="displaytable/article/none/0">
            <ion-icon name="pricetags-outline"></ion-icon>
            <ion-label>Articles</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="displaytable/groupeopt/none/0">
            <ion-icon name="grid-outline"></ion-icon>
            <ion-label>Options</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
