<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Back-office</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-button type="button" id="razctrlid" value='Réinitialisation des paginations' (click)="razctrl()" class="otherbutton" expand="block">Réinitialisation des paginations</ion-button>
  <br>
  <ion-button type="button" id="chgemailid" value='Changement du courriel du compte' (click)="chgemail()" class="otherbutton" expand="block">Changement du courriel du compte</ion-button>
  <br>
</ion-content>
