.centerflex
{
    justify-content: center;
    display: flex; 
    align-items: center;
    height: 100%;
    width: 100%;
}

ion-spinner {
    transform: scale(3);
}

.flexwrap {
    display:flex;
    flex-wrap: wrap;
}

.actionbutton
{
    --background:#009CDB;
}

.relief
{
    border-width: medium;
    border-color: grey;
    border-style: outset;
    box-shadow: 2.5px 5px 4px #888888;
}

.otherbutton
{
    --background: white;
    --border-color: #e2007a;
    --color: #e2007a;
}

